<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!--数据库连接设置 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/flop</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
       
        <!-- 方言 -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
	
        <!-- 控制台显示SQL -->
        <property name="show_sql">false</property>
        
        <!-- 自动更新表结构 -->        
        <property name="hbm2ddl.auto">update</property>
        
        <!-- 最小连接数 --> 
 		<property name="c3p0.min_size">5</property>
 		<!-- 最大连接数 -->   
 		<property name="c3p0.max_size">30</property> 
 		<!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 -->  
 		<property name="c3p0.timeout">1800</property> 
 		<!-- 最大的PreparedStatement的数量 -->   
 		<property name="c3p0.max_statements">50</property> 
 		<property name="c3p0.idle_test_period">120</property>        
        
  		<mapping resource="com/flop/model/News.hbm.xml"/>
  		<mapping resource="com/flop/model/User.hbm.xml"/>
  		<mapping resource="com/flop/model/UserInfo.hbm.xml"/>
  		<mapping resource="com/flop/model/About.hbm.xml"/>
  		<mapping resource="com/flop/model/Appointment.hbm.xml"/>
  		<mapping resource="com/flop/model/Category.hbm.xml"/>
  		<mapping resource="com/flop/model/Order.hbm.xml"/>
  		<mapping resource="com/flop/model/Resource.hbm.xml"/>
  		<mapping resource="com/flop/model/Notification.hbm.xml"/>       		

    </session-factory>

</hibernate-configuration>